/*Colores*/
$primary-color: #eae7c4;
$secondary-color: #2e4372;

/*Tamaños de fuente*/
$xxs: 20px;
$xs: 22px;
$s: 24px;
$s-v2: 26px;
$m: 30px;
$l: 32px;
$xl: 34px;
$xxl: 38px;
$xxxl: 40px;

/*Velocidades*/
$fast: 0.1s;
$normal: 0.2s;