.button {
    transition: $normal;
    display: flex;
    flex-direction: column;
    place-self: center;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 12px;
    max-width: 500px;
    border: double 12px $secondary-color;
    margin-block: 30px;
    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        border: double 12px $primary-color;
    }
}