.total p {
    display: inline-block;
    position: fixed;
    z-index: 3;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $xxs;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 12px;
    border: double $secondary-color 12px;
}